
{{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
	<div class="row">
	    <div class="col col-md-6 mb-5">
	        <label for="demande_diplome" class="fx-text-dark h5 col-form-label-lg"> 
		        {{ form_label(form.diplome, 'Diplome :') }} 
		    </label>
	        {{ form_widget(form.diplome, {'attr': {'class': 'custom-select-lg'}}) }}
	    </div>

	    <div class="col col-md-6 mb-5">
	        <label for="demande_etablissement" class="fx-text-dark h5 col-form-label-lg"> 
		        {{ form_label(form.etablissement, 'Etablissement :') }} 
		    </label>
	        {{ form_widget(form.etablissement, {'attr': {'class': 'custom-select-lg'}}) }}
	    </div>
	</div>
	<div class="text-center mt-4">
		<button class="btn btn-widest btn-tall btn-primary">
			<i data-feather="save" class="pr-1"></i>
			<span class="pr-2">{{ button_label|default('ajouter demande') }}</span>
		</button>
	</div>
{{ form_end(form) }}
