{% extends 'base.html.twig' %}

{% block title %}Demande{% endblock %}

{% block body %}
    <div class="fx-card fx-card-tabs">
        <div class="fx-card-head align-items-center">
            <div class="fx-card-head-container">
              <h3 class="fx-card-head-title text-capitalize">
                Demande {{demande.id }}
              </h3>
            </div>
            <div class="fx-card-head-toolbar">
                <div>
                    <a href="{{ path('demande_index') }}" class="btn btn-dark mb-0">
                        <i data-feather="arrow-left" class="pr-1"></i>
                        <span class="pl-1 align-middle">Back to List</span>
                    </a>
                    <a href="{{ path('demande_edit', {'id': demande.id}) }}" class="btn btn-warning mb-0">
                        <i data-feather="edit-3" class="pr-1"></i>
                        <span class="pl-1 align-middle">edit</span>
                    </a>
                    {{ include('demande/_delete_form.html.twig', {'button_size': ''}) }}
                </div>
            </div>
        </div>
        <div class="fx-card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ demande.id }}</td>
                    </tr>
                    <tr>
                        <th>Etat</th>
                        <td>{{ demande.etat }}</td>
                    </tr>
                    <tr>
                        <th>DateValidationSecretaire</th>
                        <td>{{ demande.dateValidationSecretaire ? demande.dateValidationSecretaire|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>DateValidationDP</th>
                        <td>{{ demande.dateValidationDP ? demande.dateValidationDP|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>DateValidationDE</th>
                        <td>{{ demande.dateValidationDE ? demande.dateValidationDE|date('Y-m-d') : '' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock %}
