{% extends 'base.html.twig' %}

{% block title %}Etablisement index{% endblock %}

{% block body %}
    <div class="fx-card fx-card-tabs">
        <div class="fx-card-head align-items-center">
            <div class="fx-card-head-container">
              <h3 class="fx-card-head-title text-capitalize">
               ETABLISSEMENT
              </h3>
            </div>
            <div class="fx-card-head-toolbar">
                <div>
                    <a href="{{ path('etablissement_new') }}" class="btn btn-danger mb-0">
                        <i data-feather="plus" class="pr-1"></i>
                        <span class="pl-1 align-middle">Create New</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="fx-card-body">
            <table class="table fx-data-table" id="ResponsiveTable">
                <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Password</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Deleted</th>
                <th>NomEtablissement</th>
                <th>Logo</th>
                <th>actions</th>
            </tr>
        </thead>
                <tbody>
        {% for etablissement in etablissements %}
            <tr>
                <td>{{ etablissement.id }}</td>
                <td>{{ etablissement.pseudo }}</td>
                <td>{{ etablissement.nom }}</td>
                <td>{{ etablissement.prenom }}</td>
                <td>{{ etablissement.password }}</td>
                <td>{{ etablissement.adresse }}</td>
                <td>{{ etablissement.email }}</td>
                <td>{{ etablissement.telephone }}</td>
                <td>{{ etablissement.deleted ? 'Yes' : 'No' }}</td>
                <td>{{ etablissement.nomEtablissement }}</td>
                <td>{{ etablissement.logo }}</td>
                <td>
                    <a class="btn btn-primary btn-sm mb-0" href="{{ path('etablissement_show', {'id': etablissement.id}) }}">
                                <i data-feather="eye" class="pr-1"></i>
                                <span class="pl-1 align-middle"> show </span>
                            </a>
                            <a class="btn btn-warning btn-sm mb-0" href="{{ path('etablissement_edit', {'id': etablissement.id}) }}">
                                <i data-feather="edit-3" class="pr-1"></i>
                                <span class="pl-1 align-middle"> edit </span>
                            </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
            </table>
        </div>
    </div>
{% endblock %}





