{% extends 'base.html.twig' %}

{% block title %}Signalisation index{% endblock %}

{% block body %}
    <h1>Signalisation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for signalisation in signalisations %}
            <tr>
                <td>{{ signalisation.id }}</td>
                <td>{{ signalisation.date ? signalisation.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('signalisation_show', {'id': signalisation.id}) }}">show</a>
                    <a href="{{ path('signalisation_edit', {'id': signalisation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('signalisation_new') }}">Create new</a>
{% endblock %}
