<!-- ========== HEADER ========== --> 
  <nav class="main-nav light-menu border-bottom">
    <div class="container relative clearfix">
      <!-- Logo ( * your text or image into link tag *) -->
      <div class="nav-logo-wrap local-scroll">
        <a href="#" class="logo pl-md-0 pl-3 fx-text-boldest">
          <!-- <img class="fx-w-100" src="../assets/img/logos/logo-dark.svg" alt="limbo logo" /> -->
          <span class="fx-text-primary fx-font-family-default"> Verife </span> 
          <span class="fx-text-dark fx-font-family-secondary"> Diploma </span>
        </a>
      </div>

      <div class="mobile-nav">
        <div>
          <div class="hamburger-menu dark-menu"></div>
        </div>
      </div>

      <!-- Main Menu -->
      <div class="inner-nav float-right">
        <ul class="clearlist">
          {% if app.user %}
          <!-- Begin::SubMenu -->
          <li class="mr-2">
            <a href="/" class="active menu-link">
              <span> Accueil </span>
            </a>
          </li>
          <!-- ./End SubMenu -->
          {% endif %}

          {% if is_granted('ROLE_ADMIN') %}
          <!-- Begin::SubMenu -->
          <li>
            <a href="#" class="mn-has-sub menu-link">
              <span> Menu admin </span>
              <i data-feather="chevron-down"></i>
            </a>
          </li>
          <!-- ./End SubMenu -->
          {% endif %}

          {% if is_granted('ROLE_ETABLISSEMENT') %}
          <!-- Begin::SubMenu -->
          <li>
            <a href="#" class="mn-has-sub menu-link">
              <span> Gestion des documents </span>
              <i data-feather="chevron-down"></i>
            </a>

            <!-- Sub -->
            <ul class="mn-sub to-left py-4">
              <li>
                <a href="/diplome/">Afficher les documents</a>
              </li>
              <li>
                <a href="/diplome/new">Ajouter un document</a>
              </li>
            </ul>
            <!-- ./End Sub -->
          </li>
          <!-- ./End SubMenu -->
          {% endif %}

          {% if is_granted('ROLE_DIRECTEUR') %}
          <!-- Begin::SubMenu -->
          <li>
            <a href="#" class="mn-has-sub menu-link">
              <span> Menu directeur </span>
            </a>
          </li>
          <!-- ./End SubMenu -->
          {% endif %}

          {% if is_granted('ROLE_ENTREPRISE') %}
          <!-- Begin::SubMenu -->
          <li>
            <a href="#" class="mn-has-sub menu-link">
              <span> Menu entreprise </span>
            </a>
          </li>
          <!-- ./End SubMenu -->
          {% endif %}

          {% if is_granted('ROLE_SECRETAIRE') %}
          <!-- Begin::LinkMenu -->
          <!-- Begin::SubMenu -->
          <li>
            <a href="#" class="mn-has-sub menu-link">
              <span> Demandes </span>
              <i data-feather="chevron-down"></i>
            </a>

            <!-- Sub -->
            <ul class="mn-sub to-left py-4">
              <li>
                <a href="/demande/">afficher les demandes</a>
              </li>
              <li>
                <a href="/demande/new">ajouter un demande</a>
              </li>
            </ul>
            <!-- ./End Sub -->
          </li>
          <!-- ./End SubMenu -->
          <!-- ./End LinkMenu -->
          {% endif %}


          {% if is_granted('ROLE_LAUREAT') %}
          <!-- Begin::SubMenu -->
          <li>
            <a href="#" class="mn-has-sub menu-link">
              <span> Menu laureat </span>
              <i data-feather="chevron-down"></i>
            </a>
          </li>
          <!-- ./End SubMenu -->
          {% endif %}

          <!-- ./End LinkMenu -->
          {% if app.user %}
          <!--begin::User-->
          <li class="ml-2">
            <a href="#" class="mn-has-sub menu-link">
              <div class="user-menu">
                <span class="font-weight-bold d-none d-md-inline mr-1">Bonjour,</span>
                <span class="font-weight-bolder d-none d-md-inline mr-2">{{ app.user.email }}</span>
                <span class="btn btn-md btn-soft-primary"> 
                {% if app.user.nom|first %} 
                  {{ app.user.nom|first }}
                  {% else %}
                  U
                {% endif %}
                </span>
                <i data-feather="chevron-down"></i>
              </div>
            </a>

            <!-- Sub Multilevel -->
            <ul class="mn-sub to-left mn-has-multi fx-width-300">
              <!-- Header Sub -->
              <li class="header-sub-menu border-bottom">
                <!-- Head -->
                <div class="d-flex align-items-center justify-content-start p-3">
                  <!-- Avatar -->
                  <div class="d-inline-block position-relative mr-4">
                    <img class="fx-avatar fx-avatar-md rounded-circle fx-avatar-bordered shadow-lg d-inline-block" 
                    src="
                      {% if app.user.photoUrl %} 
                        {{ app.user.photoUrl }}
                      {% else %}
                        /build/avatar.jpg
                      {% endif %}
                      "
                    alt="Image Description">
                  </div>
                  <!-- ./End Avatar -->
                  <!-- User -->
                  <div class="text-dark m-0 flex-grow-1 mr-3 font-size-h5">
                    <h4 class="fx-text-dark h5 font-weight-bold text-capitalize mb-2"> 
                      {% if app.user.nom %} 
                        {{ app.user.nom }}
                      {% else %}
                        {{ app.user.email }}
                      {% endif %}
                    </h4>
                    <span class="font-weight-bold btn btn-soft-danger fx-font-size-1 btn-sm">3 messages</span>
                  </div>
                  <!-- ./End User-->
                </div>
                <!-- ./End Head -->
              </li>
              <!-- ./End Header Sub -->
              
              <li>
                <!-- Item -->
                <a href="#" class="p-3">
                  <div class="media align-items-center">
                    <div class="media-head mr-4">
                      <div class="fx-badge fx-badge-transparent-warning fx-badge-xl">
                        <i data-feather="user" class="fx-text-success"></i>
                      </div>
                    </div>
                    <div class="media-body">
                      <h5 class="font-weight-bold h6">My Profile</h5>
                      <p class="text-muted fx-font-size-1">Account settings and more!! </p>
                    </div>
                  </div>
                </a>
                <!-- ./End Item -->
              </li>
              <li>
                <!-- Item -->
                <a href="#" class="p-3">
                  <div class="media align-items-center">
                    <div class="media-head mr-4">
                      <div class="fx-badge fx-badge-transparent-success fx-badge-xl">
                        <i data-feather="message-square" class="fx-text-success"></i>
                      </div>
                    </div>
                    <div class="media-body">
                      <h5 class="font-weight-bold h6">Notifications</h5>
                      <p class="text-muted fx-font-size-1"> show messages and notifications.. </p>
                    </div>
                  </div>
                </a>
                <!-- ./End Item -->
              </li>
              
              <!-- Footer -->
              <li class="list-footer bg-light"> 
                <div class="p-3 d-flex justify-content-end">
                  <a href="/logout" class="btn btn-dark px-3 py-2 font-weight-bold fx-w-auto d-inline-block btn-sm fx-text-light">
                    <i data-feather="log-out" class="pr-1"></i>
                    <span class="pr-1 align-middle"> Deconnexion </span>
                  </a>
                </div> 
              </li>
              <!-- ./End Footer -->
            </ul>
            <!-- ./End Sub Multilevel -->
            <!-- ./End Sub -->
          </li>
          {% endif %}

          {% if app.user is null or app.user is empty %}
            <li class="mr-2">
              <span class="menu-link">
                <a href="/login" class="btn btn-brand text-light">
                  <i data-feather="log-in" class="fx-svg-icon pr-2"></i>
                  <span class="align-middle"> Connexion </span>
                </a>
              </span>
            </li>
          <li class="mr-2">
            <span class="menu-link">
              <a href="/register" class="btn btn-brand text-light">
                <i data-feather="user" class="fx-svg-icon pr-2"></i>
                <span class="align-middle"> S'inscrire </span>
              </a>
            </span>
          </li>
          {% endif %}
        </ul>
      </div>
      <!-- ./End Main Menu -->
    </div>
  </nav> 
<!-- ========== ./END HEADER ========== -->